<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="test" type="Omniscient.Foundation.SLClient.TestSectionHandler, Omniscient.Foundation.SLClient, version=1.0.0.0, culture=neutral, publicKeyToken=null" />
        <section name="foundation.application" type="Omniscient.Foundation.ApplicationModel.Configuration.ApplicationConfigurationSectionHandler, Omniscient.Foundation.ApplicationModel.Configuration, version=1.3.2, culture=neutral, publicKeyToken=null" />
    </configSections>

    <test xmlns="some-ns">
        <someElement param="abc">value</someElement>
    </test>

    <foundation.application xmlns="http://schemas.omniscient.ca/foundation/applicationConfiguration.xsd">
        <services>
            <serviceDefinition contract="" service="" />
        </services>    
    </foundation.application>
</configuration>