<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="test" type="Omniscient.Foundation.SLClient.TestSectionHandler, Omniscient.Foundation.SLClient, version=1.0.0.0, culture=neutral, publicKeyToken=null" />
    </configSections>

    <test>
        <someElement param="abc">value</someElement>
    </test>
</configuration>